*.DAT
*.dat
*.EXE
*.exe
*.bin
*.img
*.iso
build/
tools/__pycache__/
build-windows/
dist/
extern/*/
!extern/packagecache/
extern/packagecache/*
!extern/packagecache/sdl2_2.32.8-1_patch.zip
build-linux/
ci-rehearse/
build-bundle-*/
